<h1>Show</h1>

<h2><%= @task.title %></h2>
<p><%= @task.details %></p>
<p>
<% if @task.completed %>
  <p>completed</p>
<% else %>
  <p>not completed</p>
<% end %>
</p>

<%= link_to "Edit this task", task_edit_path(@task) %>

<%= link_to "Delete #{@task.title}",
            task_path(@task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
